PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/aptekachi_auth?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/aptekachi_auth?schema=public
JWT_ACCESS_SECRET=change-me-access-secret
NODE_ENV=development
OCR_SERVICE_URL=http://localhost:3000
DMED_MODE=mock
